deepgravity/results/tile2cpc_NG_new_york.csv
deepgravity/results/tile2cpc_MFG_new_york.csv
deepgravity/results/tile2cpc_G_new_york.csv
deepgravity/results/tile2cpc_DG_new_york.csv
deepgravity/results/model_NG_new_york.pt
deepgravity/results/model_MFG_new_york.pt
deepgravity/results/model_G_new_york.pt
deepgravity/results/model_DG_new_york.pt
